.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo span {
  color: var(--primary);
}

.links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.links a {
  text-decoration: none;
  color: var(--white);
}

.resume {
  background: var(--primary);
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: 600;
}
