.hero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 90vh;
  align-items: center;
  padding: 0 80px;
}

.left h1 span {
  color: var(--primary);
}

.left button {
  margin-top: 20px;
  padding: 12px 30px;
  background: transparent;
  border: 2px solid var(--primary);
  color: var(--white);
  cursor: pointer;
}

.center {
  position: relative;
  display: flex;
  justify-content: center;
}

.circle {
  position: absolute;
  width: 350px;
  height: 350px;
  background: var(--primary);
  border-radius: 50%;
  z-index: 1;
}

.center img {
  width: 300px;
  z-index: 2;
}

.right h3 {
  color: var(--primary);
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .circle {
    width: 250px;
    height: 250px;
  }
}

