<div class="bg-beta position-absolute top-[7vh] h-[93vh]">
    <div class="flex justify-around w-full h-full text-white">
        <div class="w-[30vw] h-32 ">
            <div class="flex flex-col h-full py-[20vh] pl-[13vh]">
                <span class="text-[10px] bg-gray-500 w-[50px] p-1 rounded-md">Hey I'm,</span>
                <span class="text-5xl"> Ezaz</span>
                <span class="text-4xl"> Ahmed</span>
                <span class="text-2xl w-[250px] text-center my-auto text-delta p-[10px] border border-delta rounded-md">Contact me</span>
                <span class="text-4 bg-gray-500 w-[100px] p-1 rounded-md">my socials </span>
            </div>
        </div>
        <div class="w-[40vw] "></div>
        <div class="w-[30vw]"></div>
    </div>

</div>